<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/stylesheets/style.css"/>
		<title>Barkle</title>
		<script src="/assets/js/"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>