form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: 'Varela', sans-serif;
}

.hero {
  margin:auto auto; 
  background-image: url(/assets/img/bkgrd7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#dogbox {
  background-color: #ffffffc4;
}

.navbar {
  background-color: #FAFAFA;
}

hr {
  background-color: #4573B9;
  max-width: 250px;
  margin: 0 auto;
}

.button:hover, .text-logo:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.button {
  transition: all 0.2s ease-in-out;
}

input {
  font-family: "Oswald", sans-serif;
}
.uploader {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.chooseFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding-left: 200px;
  margin-right: -200px;
}

#thumbnail {
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #4573B9;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

#toTop a {
  color: white;
}

#toTop:hover {
  background-color: #43485c;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

a.navbar-item:hover {
  background-color: #4573b94f;
  transition: all 0.2s ease-in-out;
  color: black;
}

.editDog {
  position: absolute;
  right: 0;
}

