form.signup,
form.login {
  margin-top: 50px;
}

body {
  margin:auto auto; 
}

.navbar {
  background-color: #FAFAFA;
}

hr {
  background-color: #4573B9;
  max-width: 400px;
  margin: 0 auto;
}

.button:hover, .text-logo:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.button {
  transition: all 0.2s ease-in-out;
}

input {
  font-family: "Oswald", sans-serif;
}
.uploader {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.chooseFile {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding-left: 200px;
  margin-right: -200px;
}

#thumbnail {
  width: 25%;
  margin-top: 10px;
  cursor: pointer;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



