<nav class="navbar">
    <div class="container">
      <div class="navbar-brand"><a class="navbar-item" href="#"><img class="text-logo" src="./assets/img/barkle-text.png" alt="logo"
            width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false"><span
            aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start px-6">
          <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/events">Create Event</a> <a class="navbar-item" href="#"></a>
          <a class="navbar-item" href="#"></a>
        </div>
        <div class="navbar-end">
        </div>
      </div>
    </div>
  </nav>

      <h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Event Dashboard</h2>
      <hr class="content-divider mb-5">
      <section class="section">
        <div class="container has-text-centered py-4">
          <h2 class="title mb-6">Upcoming Barkle Events</h2>
          <hr class="content-divider mb-5">
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Event Name</h3>
                  <button class="button is-danger is-fullwidth mb-2">
                    <span class="icon">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    <span>Location Name</span>
                  </button>
                  <h4 class="title is-spaced is-5">Date Goes Here <small>Time Goes Here</small></h4>
                  <button class="button is-primary is-outlined" type="button">Attending</button>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Event Name</h3>
                  <button class="button is-danger is-fullwidth mb-2">
                    <span class="icon">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    <span>Location Name</span>
                  </button>
                  <h4 class="title is-spaced is-5">Date Goes Here <small>Time Goes Here</small></h4>
                  <button class="button is-primary is-outlined" type="button">Attending</button>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Event Name</h3>
                  <button class="button is-danger is-fullwidth mb-2">
                    <span class="icon">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    <span>Location Name</span>
                  </button>
                  <h4 class="title is-spaced is-5">Date Goes Here <small>Time Goes Here</small></h4>
                  <button class="button is-primary is-outlined" type="button">Attending</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>