<nav class="navbar">
        <div class="container">
          <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo" src="./assets/img/barkle-text.png" alt="logo"
                width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false"><span
                aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-start px-6">
              <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/dashboard">Event Dashboard</a> <a class="navbar-item" href="#"></a>
              <a class="navbar-item" href="#"></a>
            </div>
            <div class="navbar-end">
            </div>
          </div>
        </div>
      </nav>

    <section class="section">
        <div class="column is-6 is-offset-3">

            <form action="/api/addevents" method="POST" class="">
                <h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Create a New Event</h2>
                <hr class="content-divider mb-5">
                <div class="field">
                    <label class="label" for="">Event Name:</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="What's your event name?"
                            id="eventName">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="">Date:</label>
                    <div class="control">
                        <input class="input" type="text" name="date" placeholder="dd/mm/yyyy" id="eventDate">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="">Time:</label>
                    <div class="control">
                        <input class="input" type="text" name="time" placeholder="What time?" id="eventTime">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="">Location:</label>
                    <div class="control">

                        <input class="input" type="text" name="location_id" placeholder="Where is your event?" id="">
                        <button class="search button mt-5 mb-2 is-primary" type="submit">Search Near Me</button>
                            <input class="input" type="text" name="field-name" placeholder="Enter your City or Zip Code"
                            id="currentLocation">
                    </div>
                </div>
                <div class="columns is-centered mt-5">
                    <iframe class= "mapImg" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD27JXp5yaMt6agv0okwfcdVllql4TisXs&q=dog+friendly+near+Salt+Lake+County" width="640" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <button class="button is-fullwidth mt-5 is-primary" type="submit">Submit</button>
            </form>
        
        
    </div>
    </section>
     <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <script>
$(".search").on("click",function(event){
    event.preventDefault();
    var searchCriteria = $("#currentLocation").val().trim();
    console.log(searchCriteria);
    $(".mapImg").attr("src", "https://www.google.com/maps/embed/v1/search?key=AIzaSyD27JXp5yaMt6agv0okwfcdVllql4TisXs&q=dog+friendly+near+" + searchCriteria);
})
    </script>