<nav class="navbar">
    <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo"
                    src="./assets/img/barkle-text.png" alt="logo" width="150"></a><a class="navbar-burger"
                data-target="navMenu" role="button" aria-label="menu" aria-expanded="false"><span
                    aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start px-6">
                <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/dashboard">Event
                    Dashboard</a> <a class="navbar-item" href="/logout">Logout</a>
                <a class="navbar-item" href="/event">Create Event</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons"><a class="button is-danger" href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="column is-6 is-offset-3">
        {{#each posts}}
        <div class="card mb-3 has-background-grey-lighter" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-content">
            <h3 class="title is-4">{{dataValues.poster_id}}</h3>
            <p class="mb-3">{{dataValues.body}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

        <form action="/api/addpost/{{eventid}}" method="POST" class="">
            <h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Post Something on the Message Board!</h2>
            <hr class="content-divider mb-5">
            <div class="field">
                <label class="label" for="">Write a note:</label>
                <div class="control">
                    <input class="input" type="text" name="content" placeholder="Your message here..." id="postContent">
                </div>
            </div>
            <button class="button is-fullwidth mt-5 is-primary" type="submit">Post</button>
        </form>


    </div>
</section>