<nav class="navbar">
  <div class="container">
    <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo" src="./assets/img/barkle-text.png"
          alt="logo" width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu"
        aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
          aria-hidden="true"></span></a></div>
    <div class="navbar-menu" id="navMenu">
      {{!-- <div class="navbar-start">
        <a class="navbar-item" href="#"></a> <a class="navbar-item" href="#"></a> <a class="navbar-item" href="#"></a>
        <a class="navbar-item" href="#"></a>
      </div> --}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons"><a class="button is-info" href="/login">Log in</a><a class="button is-primary"
              href="/signup">Sign up</a></div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div data-aos="flip-down" data-aos-duration="1500">
        <div class="columns is-centered is-medium">
          <div class="column is-10 has-text-centered"><img class="" src="./assets/img/barkle-logo.png"
              alt="barkle-logo"></div>
        </div>
      </div>
      <h1 class="title is-spaced">Because Your Dog Needs Friends Too!</h1>
      <hr class="content-divider mb-5">
      <h2 class="subtitle ">Woof woof bark bark bark. This is where the about app would go. Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Necessitatibus odio officia accusamus culpa voluptate maiores rerum
        repellat, cupiditate consectetur mollitia nostrum facilis ipsam impedit deleniti? Quasi hic velit quod
        provident? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates nam totam laudantium animi,
        eligendi quia aut repellendus maxime ullam incidunt aliquam itaque deleniti nihil odio iste possimus suscipit
        corporis nesciunt.</h2>
      <div class="buttons is-centered mb-0"><a class="button is-primary" href="/signup">Sign up for free</a></div>

    </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered mb-5">What do Barkle users think?</h2>
    <hr class="content-divider mb-6">
    <div class="columns">
      <div class="column">
        <div class="card mb-3" data-aos="fade-up-right" data-aos-duration="1200">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64"><img class="is-rounded" src="./assets/img/Riley.jpg" alt=""></figure>
              </div>
              <div class="media-content">
                <h5 class="title is-5">Mr. Dog Owner</h5>
                <p class="subtitle">SLC, UT</p>
              </div>
            </div>
            <div class="content">Barkle changed my life, I will never be the same. I used to be a lonely dog owner and
              now I have more dog friends than I could have ever imagined.</div>
          </div>
        </div>
        <div class="card mb-3" data-aos="fade-up-right" data-aos-duration="1200">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64"><img class="is-rounded" src="./assets/img/Riley.jpg" alt=""></figure>
              </div>
              <div class="media-content">
                <h5 class="title is-5">Mr. Dog Owner</h5>
                <p class="subtitle">SLC, UT</p>
              </div>
            </div>
            <div class="content">Barkle changed my life, I will never be the same. I used to be a lonely dog owner and
              now I have more dog friends than I could have ever imagined.</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card mb-3" data-aos="fade-up-left" data-aos-duration="1200">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64"><img class="is-rounded" src="./assets/img/Riley.jpg" alt=""></figure>
              </div>
              <div class="media-content">
                <h5 class="title is-5">Mrs. Dog Owner</h5>
                <p class="subtitle">SLC, UT</p>
              </div>
            </div>
            <div class="content">My dog used to stare into the void, he was the loneliest boy there ever was. Barkle
              made my dog realize there is more to life than just staring out the window and hoping for dog friends.
            </div>
          </div>
        </div>
        <div class="card mb-3" data-aos="fade-up-left" data-aos-duration="1200">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64"><img class="is-rounded" src="./assets/img/Riley.jpg" alt=""></figure>
              </div>
              <div class="media-content">
                <h5 class="title is-5">Mrs. Dog Owner</h5>
                <p class="subtitle">SLC, UT</p>
              </div>
            </div>
            <div class="content">My dog used to stare into the void, he was the loneliest boy there ever was. Barkle
              made my dog realize there is more to life than just staring out the window and hoping for dog friends.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>